
#gamecontainer
{
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url('../assets/background.png');
   background-repeat: repeat;   
   
}

#player
{
   left: 48%;
   top: 80%;
}
.aircraft{
   position: absolute;
   width: 88px;
   height: 106px;
   background-image: url('../assets/mainAircraft1.png');
}

.active {
    z-index: 2;
}