
@-webkit-keyframes animEnemy {
   0% { top: -100px; }
   100% { top: 900px; }
}
@-moz-keyframes animEnemy {
   0% { top: -100px; }
   100% { top: 900px; }
}
@-o-keyframes animEnemy {
0% { top: -100px; }
   100% { top: 900px; }
}
@keyframes animEnemy {
   0% { top: -100px; }
   100% { top: 900px; }
}


@-webkit-keyframes animBack {
   0% { background-position: 0px -300px; }
   100% { background-position: 0px 435px; }
}
@-moz-keyframes animBack {
   0% { background-position: 0px -300px; }
   100% { background-position: 0px 435px; }
}
@-o-keyframes animBack {
   0% { background-position: 0px -300px; }
   100% { background-position: 0px 435px; }
}
@keyframes animBack {
   0% { background-position: 0px -300px; }
   100% { background-position: 0px 435px; }
}

@-webkit-keyframes animBullet {
   0% { top: 500px; }
   100% { top: -100px; }
}
@-moz-keyframes animBullet {
    0% { top: 500px; }
   100% { top: 0px; } 
}
@-o-keyframes animBullet {
0% { top: 500px; }
   100% { top: 0px; }
}
@keyframes animBullet {
   0% { top: 500px; }
   100% { top: 0px; }
}

#background
{
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url('../assets/background.png');
   background-repeat: repeat; 
   background-position: 0px 0px;
   -webkit-animation: animBack 7500ms linear infinite;
   animation: animBack 7500ms linear infinite;
}

#player
{
   left: 48%;
   top: 80%;
}
.aircraft{
   position: absolute;
   width: 84px;
   height: 100px;
   background-image: url('../assets/mainAircraft1.png');
}

.active {
    z-index: 2;
}

.enemy{
   position: absolute;   
   width: 42px;
   height: 32px;
   background-image: url('../assets/smallAircraft1.png');
   -webkit-animation: animEnemy 7500ms linear infinite;
   animation: animEnemy 7500ms linear infinite;
}

.bullet{
   position: absolute;
   width: 8px;
   height: 16px;
   background-image: url('../assets/redBullet.png');
   -webkit-animation: animBullet 2500ms linear infinite;
   animation: animBullet 2500ms linear infinite;
}